{% extends 'base.html.twig' %}
{% block body %}
    <script>
        window.user = JSON.parse('{{ user|raw }}');     //TODO : probably can declare this as const
        console.log(user);
    </script>
    <div id="app"></div>
{% endblock %}
