{% extends 'base.html.twig' %}
{% block body %}
<script>
    window.user = JSON.parse('{{ user|raw }}');     //TODO : probably can declare these as const
    window.userInfo = JSON.parse('{{ userInfo|raw }}');
</script>
<div id="app"></div>
{% endblock %}