// Your custom styles
// .is-valid input.form-control {
//     margin-bottom: 1rem !important;
//     border-color: #00b74a !important;
// }

// @mixin form-validation-state-selector($state) {
//   @if ($state == 'valid' and $state == 'invalid') {
//       #{if(&, "&", "")}.is-#{$state} {
//           @content;
//         }
//   } @else {
//     #{if(&, "&", "")}.is-#{$state} {
//       @content;
//     }
//   }
// }

code {
    color: unset;
}

.klWJEr svg.icon {
    fill: $success
}

.breadcrumb {
    opacity: 0.75;
    margin-bottom: 0;
}

.row {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}