// Your custom styles
// .is-valid input.form-control {
//     margin-bottom: 1rem !important;
//     border-color: #00b74a !important;
// }

// @mixin form-validation-state-selector($state) {
//   @if ($state == 'valid' and $state == 'invalid') {
//       #{if(&, "&", "")}.is-#{$state} {
//           @content;
//         }
//   } @else {
//     #{if(&, "&", "")}.is-#{$state} {
//       @content;
//     }
//   }
// }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    flex-grow: 10;
}

.row {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

h1 {
    font-family: 'Comfortaa', 'Roboto', sans-serif;
}

h2,
h3,
h4 {
    font-family: 'Roboto Slab', serif;
}

code {
    color: unset;
}

.klWJEr svg.icon {
    fill: $success
}

.btn {
    font-family: var(--mdb-font-roboto);
}

#site-logo-header {
    height: 40px;
    filter: opacity(75%);
    margin-bottom: 6px;
}

.custom-header {
    padding: 100px 24px 24px;
}

.breadcrumb {
    opacity: 0.75;
    margin-bottom: 0;
}

main {
    flex-grow: 10;
    overflow-x: hidden;
}

footer .list-group-item {
    color: unset;
    background-color: unset;
    border-color: rgba($color: white, $alpha: 0.55)
}

footer ul {
    width: fit-content;
    margin: 0 auto;
}

.valid-feedback {
    display: none !important;
}

.is-valid~.custom-valid-feedback {
    display: block !important;
}

/* .is-valid input.form-control {
    margin-bottom: 5rem !important;
    border-color: #00b74a !important;
} */

#rcc-confirm-button {
    all: unset
}

.home-image {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    min-width: 100vw;
    z-index: -1;
    padding: 0 !important;
    // min-height: 60vh;
}

#not-found-image {
    width: 100%;
}

@include media-breakpoint-up(md) {
    main .row {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    main .row:first-of-type {
        margin-top: 1rem;
    }

    #not-found-image {
        width: 600px;
    }
}

@media (min-width: 2560px) {
    #not-found-image {
        height: 70vh;
        width: auto;
    }    
}