// Your custom variables
// Theme colors
$primary: #9A3EC7 !default;
$secondary: #b23cfd !default;
$success: #46EB98 !default;
$info: #6AE2EB !default;
$warning: #EBB752 !default;
$danger: #F74A5F !default;
// $light: $gray-50 !default;
// $dark: $gray-900 !default;